.main {
    width: 100%;
    min-height: 5rem;

    display: flex;
    flex-direction: column;
    position: relative;


    background-color: var(--surface);

    z-index: 2;

    border-radius: .5rem;

    overflow: hidden;

    padding: .5rem;
}


.main:before {
    content: "";
    z-index: -1;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: linear-gradient(-45deg, #45caff 0%, #ff1b6b 100% );
    transform: translate3d(0px, 20px, 0) scale(0.95);
    filter: blur(20px);
    opacity: 0.3;
    backdrop-filter: blur(5px);
    transition: opacity 0.3s;
    border-radius: inherit;
}

/* 
* Prevents issues when the parent creates a 
* stacking context. (For example, using the transform
* property )
*/
.main::after {
    content: "";
    z-index: -1;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: inherit;
    border-radius: inherit;
}
        

.image {
    z-index: -1;
    opacity: .4;
    position: absolute;
    width: 10rem;
    height: 10rem;

    rotate: -35deg;
    top: -50%;
    right: -10%;
}

.content {
    width: 100%;
}